@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.slideRight {
  animation: slideRight 0.5s ease forwards;
}

.circular-btn {
  border-radius: 30px;
  color: #F0F0F0;
  background: linear-gradient(180deg, rgba(101, 39, 251, 0.8) 0%, rgba(137, 59, 250, 0.8) 100%) !important;
}

.circular-btn:hover {
  background-color: #8E3FFA !important;
}

.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
